<div class="container-fluid mt-4 ">
  <footer class="footer p-3">
    <div class="row">
      <div class="col-6">
        <h5>Visit Arnhem</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a  routerLink="/home" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a  routerLink="/milestones" class="nav-link p-0 text-muted">Milestones</a></li>
          <li class="nav-item mb-2"><a routerLink="/museums"
            class="nav-link p-0 text-muted">Museums</a></li>
          <li class="nav-item mb-2"><a routerLink="/restaurants" class="nav-link p-0 text-muted">Restaurants</a></li>
          <li class="nav-item mb-2"><a routerLink="/hotels" class="nav-link p-0 text-muted">Hotels</a></li>
          <li class="nav-item mb-2"><a routerLink="/hotels" class="nav-link p-0 text-muted">Contact Us</a></li>
        </ul>
      </div>
     

      <div class="col-6">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>We will inform you of the first discounts and offers.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="email" class="form-control" placeholder="Your e-mail address">
            <button href="#" class="btn btn-primary" type="button">Subscribe</button>


          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-center py-1 my-1 border-top">
      <p>&copy; 2022 Company, Albash. All rights reserved.</p>
    </div>
  </footer>
</div>
