
  <main class="container" role="complementary">
    <section>
    <h2 class="section-title"> Hotels</h2>
    <div class="row p-1 ">
    <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/WtPpWSh/holiday.jpg"
       class="card-img-top" 
       alt="holiday hotel">
      <div class="card-body">
        <h5 class="card-title">Holiday Inn Express Arnhem‬</h5>
        <p class="card-text">
          A stylish city center hotel near Arnhem Central Station and Rozet, including Wi-Fi and breakfast Holiday Inn Express® Arnhem is next to the award-winning Rosette cultural center, and a five-minute walk from Arnhem Central Station.</p>
        <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/arnhem/zymex/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99618083&icdv=99618083&glat=MEDI_mdpr-_-TripAdvisorUS-_-BLwebsiteD-_-ex_zymex&qSlH=zymex&qRms=1&qAdlt=2&qChld=0&qCiD=22&qCiMy=022020&qCoD=23&qCoMy=022020&setPMCookies=true&qSHBrC=EX&qDest=Nieuwe%20Oeverstraat%2050,%20Arnhem,%20NL&cm_mmc=mdpr-_-TripAdvisorUS-_-BLwebsiteD-_-ex_zymex&srb_u=1" target="_blank" class="btn btn-primary ">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card ">
      <img src="https://i.ibb.co/NmtLdYn/old-dutch.jpg" class="card-img-top" alt="old-dutch">
      <div class="card-body">
        <h5 class="card-title">Old Dutch</h5>
        <p class="card-text">is located directly along the famous harbor of Volendam. It features a seafood restaurant on site and rooms with wide views of the IJsselmeer or the village's historic center.</p>
        <a href="https://www.nh-hotels.nl/hotel/nh-arnhem-rijnhotel?utm_campaign=local-gmb&utm_medium=organic_search&utm_source=google_gmb&utm_term=langtest" target="_blank" 
        class="btn btn-primary">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">

      <img src="https://i.ibb.co/tb1ZQqw/rijnhotel.jpg" class="card-img-top"   alt="rijnhotel">
      <div class="card-body">
        <h5 class="card-title">NH Arnhem Rijnhotel</h5>
        <p class="card-text">is a four-star hotel located right on the banks of the Rhine River in Arnhem. With its 68 guest rooms, two meeting rooms, bar and restaurant.</p>
        <a href="https://www.nh-hotels.nl/hotel/nh-arnhem-rijnhotel?utm_campaign=local-gmb&utm_medium=organic_search&utm_source=google_gmb&utm_term=langtest" target="_blank"
         class="btn btn-primary">Visit Web Site</a>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/xD8GnPK/van-der-valk-hotel-arnhem.jpg" class="card-img-top"   alt="van der valk hotel arnhem">
      <div class="card-body">
        <h5 class="card-title">Van der Valk Hotel Arnhem</h5>
        <p class="card-text">The hotel has 100 comfortable hotel rooms ranging in luxury. Besides comfort rooms there are rooms for the disabled, family rooms.</p>
        <a href="https://www.hotelarnhem.nl/" target="_blank" class="btn btn-primary">Visit Web Site</a>
      </div>
    </div>
  </div>
</div>
</section>
    
</main>