
  <main class="container" role="complementary">
    <section>
    <h2 class="section-title">Restaurants</h2>
    <div class="row p-1 ">
    <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/t34X2DT/Goed-Proeven.jpg"
       class="card-img-top" 
       alt="Goed-Proeven">
      <div class="card-body">
        <h5 class="card-title">Goed Proeven</h5>
        <p class="card-text">
          We present an international menu. Order various dishes when you want and share. With us you can taste each other's dishes, in fact, we like this.</p>
        <a href="https://www.goedproeven.nl/" target="_blank" class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card ">
      <img src="https://i.ibb.co/djZmTp0/Stan-CO.jpg" class="card-img-top" alt="Stan-CO">
      <div class="card-body">
        <h5 class="card-title">Stan&CO</h5>
        <p class="card-text">Bustling place in the heart of Zeist STAN & CO Zeist has opened its doors. You are welcome every day from 11 a.m. until late. STAN & CO is centrally located in Zeist on the corner of Antonlaan and Steynlaan, a stone's throw from the bus station.</p>
        <a href="https://www.stan-restaurant.nl/nl/locaties/arnhem/" target="_blank" 
        class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/pyWQD34/Stadsvilla-Sonsbeek.jpg" class="card-img-top"   alt="Stadsvilla Sonsbeek">
      <div class="card-body">
        <h5 class="card-title">Stadsvilla Sonsbeek</h5>
        <p class="card-text">The Grand Café of the City Villa is the central meeting place in the villa. The entire year is a good place to be on the terrace with a view of the park and the city of Arnhem and in the dark months you can enjoy a cozy candlelit dinner on the table.</p>
        <a href="https://stadsvillasonsbeek.nl/" target="_blank"
         class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/yqr94mX/graave.jpg" class="card-img-top"   alt="graave">
      <div class="card-body">
        <h5 class="card-title">Graave</h5>
        <p class="card-text">Graave always has delicious surprises from the Chef "outside the menu", such as a Chef's pie, Chef's meat, a Catch of the day etc. Do you want to have a drink with all kinds of dishes or extensive dinner ... no problem ... on to Graave!</p>
        <a href="https://www.graave.com/" target="_blank" class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>
</div>
</section>
    
</main>