
  <main class="container" role="complementary">
    <section>
    <h2 class="section-title">Museums</h2>
    <div class="row p-1 ">
    <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/HhyCy5R/War-Museum.jpg"
       class="card-img-top" 
       alt="War-Museum">
      <div class="card-body">
        <h5 class="card-title">War Museum</h5>
        <p class="card-text">
          In addition to a general overview, the Arnhems Oorlogsmuseum also gives as accurate a picture as possible of what happened in Arnhem and the surrounding area during the war years.</p>
        <a href="https://www.arnhemsoorlogsmuseum.com/" target="_blank" class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card ">
      <img src="https://i.ibb.co/6HgJTnY/Museum-Arnhem.png" class="card-img-top" alt="Museum-Arnhem">
      <div class="card-body">
        <h5 class="card-title">Museum Arnhem</h5>
        <p class="card-text">Looking at art in one of the most beautifully situated museum buildings in the Netherlands. That is possible in Museum Arnhem. The museum is located on the high dam with a magnificent view of the Rhine.</p>
        <a href="https://www.museumarnhem.nl/nl" target="_blank" 
        class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
    
      <img src="https://i.ibb.co/zVwgspX/openluchtmuseum.jpg" class="card-img-top" alt="openluchtmuseum">
      <div class="card-body">
        <h5 class="card-title">Openluchtmuseum</h5>
        <p class="card-text">open-air museum located in Arnhem with antique houses, farms and factories from different parts of the Netherlands. It is a national museum focusing on the culture associated with the everyday lives of ordinary people.</p>
        <a href="https://www.openluchtmuseum.nl/" target="_blank"
         class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/L03FHCL/Koepelgevangenis.jpg" class="card-img-top"   alt="Koepelgevangenis">
      <div class="card-body">
        <h5 class="card-title">Koepelgevangenis</h5>
        <p class="card-text">is a former prison in Arnhem, Netherlands. It is one of three Panopticon-style buildings situated in the country. Designed by Johan Metzelaar, the building was completed in 1886. A Rijksmonument, the prison closed in 2016.</p>
        <a href="https://koepelgevangenisarnhem.nl/" target="_blank" class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>
</div>
</section>
    
</main>