
  <main class="container" role="complementary">
    <section>
    <h2 class="section-title">Milestones</h2>
    <div class="row p-1 ">
    <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/g6vvF8m/Church1.jpg"
       class="card-img-top" 
       alt="Eusebius Church image">
      <div class="card-body">
        <h5 class="card-title">Eusebius Church</h5>
        <p class="card-text">
          The Big or Eusebius Church in Arnhem has dominated the skyline of the city of Arnhem for more than five centuries now and tells the history of the capital of the province of Gelderland from the Middle Ages until the Second World War and the post-war reconstruction.</p>
        <a href="https://eusebius.nl/" target="_blank" class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card ">
      <img src="https://i.ibb.co/cLqSH6k/Frost-Bridge.jpg" class="card-img-top" alt="Frost Bridge">
      <div class="card-body">
        <h5 class="card-title">John Frost Bridge</h5>
        <p class="card-text">John Frost Bridge is the road bridge over the Lower Rhine at Arnhem, in the Netherlands. The bridge is named after Major-General John Dutton Frost, who commanded the British forces that reached and defended the bridge during the Battle of Arnhem in September 1944.
        </p>
        <a href="https://www.airbornemuseum.nl/airborne-at-the-bridge" target="_blank" 
        class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>

  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
     
      <img src="https://i.ibb.co/c8t9wq7/Airborne-Cemetery.jpg" class="card-img-top"  
       alt="Airborne Cemetery">
      <div class="card-body">
        <h5 class="card-title">Airborne Cemetery</h5>
        <p class="card-text">The Arnhem Oosterbeek War Cemetery, more commonly known as the Airborne Cemetery, is a Commonwealth War Graves Commission cemetery in Oosterbeek, near Arnhem, the Netherlands.</p>
        <a href="https://www.cwgc.org/visit-us/find-cemeteries-memorials/cemetery-details/2063800/arnhem%20oosterbeek%20war%20cemetery/" target="_blank" class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-md-6 mb-3">
    <div class="card">
      <img src="https://i.ibb.co/YPBMdT2/zoo.jpg" class="card-img-top"   alt="Burgers Zoo">
      <div class="card-body">
        <h5 class="card-title">Burgers Zoo</h5>
        <p class="card-text">Royal Burgers' Zoo is a 45-hectare zoo in Arnhem, Netherlands, and is one of the biggest zoos in the country. Arnhem is a city that lies within the Veluwe, a nature park in the east of the Netherlands. The zoo is popular with both Dutch and German people.</p>
        <a href="https://www.burgerszoo.nl/" target="_blank" class="btn">Visit Web Site</a>
      </div>
    </div>
  </div>
</div>
</section>
</main>