/* You can add global styles to this file, and also import other style files */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.page-container {
  padding: 1rem 2rem;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}


