/* You can add global styles to this file, and also import other style files */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Patrick+Hand|Yeseva+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor:default;
}


:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f98d00;
  --color-4: #e83611;
  --color-5: #f1b211;
}

/* body style*/
body{
  font-family: 'Patrick Hand', cursive;
  background-color:rgba(150,150,150,.5);

}
/*section */

.section-title{
    margin:1rem;
    margin-bottom: 1.5rem;
    padding:3px;
    text-align:center;
    border-radius: 50px;
    background: rgb(103, 203, 224);
    box-shadow:  13px 13px 26px #58adbe,-13px -13px 26px rgb(118, 233, 255);
    
}
/*End section */

/* Card-item Styles*/

.card{
  height:100%;
}

.card:hover{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-box-shadow: 2px 0px 10px 5px rgb(94,104,121); 
box-shadow: 2px 0px 10px 5px rgba(0,0,0,0.65);
}

.card-img-top{
  height: 50%;
}

.card-body{
  height: 50%;
}
.card-title{
  color:var(--red-color);
  font-size:2rem;
  font-weight: 700;
  
}

.card-text{
  height: 60%;
  font-family: 'Crimson Text', serif;
  text-align: justify;
  font-style: italic;
  line-height: 2rem;
}

.card .btn{
  color:var(--dark-color);
  background-color: var(--color-2);
}

.card .btn:hover
{
  color:var(--color-2);
  background-color: var(--section-color);
}

a{
  font-family: 'Yeseva One', cursive;
  font-weight:bold;
  cursor: pointer;
}

h5{
  font-family: 'Yeseva One', cursive;
  font-weight:bold;
}

